.ListContainer {
   position: relative;
}
.ListContainer__loadingIndicator {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   background-color: rgba(230, 230, 230, 0.15);
}
